body {
    background-color: hsl(0, 0%, 11%);
    font-family: 'Varela Round','Trebuchet MS';
    color: hsla(0, 0%, 10%, 100%);
    margin: 0px;

}

h1,h2,h3,h4,h5,h6 {
    margin: 0px;
}

h1 {
    font-size: 0.8rem;
}

p {
    font-size: 0.8rem;
    margin: 0px;
}

main {
    align-items: center;
}

main section:not(:first-child) {
    margin-top: 2rem;
}

section {
    box-shadow: 0px 5px 5px  rgba(0, 0, 0, 0.698);
    background-color: hsl(356, 83%, 61%);
    padding: 2rem;
    max-width: 50rem;
    margin: 0 auto;

    & h1 {
        color: hsla(0, 0%, 0%, 20%);
        font-size: 3rem;
        text-transform: uppercase;
        font-style: italic;
    }

}


.button {
    --text_color: rgb(95, 95, 95);
    
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    min-height: 2rem;

    background-color: rgb(222, 222, 222);
    padding: 0rem 0.5rem;
    user-select: none;
    border-top: 3px solid white;
    border-left: 3px solid white;
    border-bottom: 3px solid black;

    font-weight: bold;
    font-family: Tahoma;
    letter-spacing: 2px;
    color: var(--text_color);

    &:hover {
        cursor: pointer;
    }

    &:active {
        transform: translateX(-3px);
    }

    & svg {
        height: 1.3rem;
        width: 1.3rem;
        stroke: var(--text_color);
        fill:none;
    }
}

.button_floating {
    position: fixed;
    bottom: 6rem;
    right: 4rem;
    height: 3rem;
}

.button_row {
    display:inline-flex;
    gap: 1rem;
    height: 3rem;
    margin-top: 1rem;
    align-self: flex-end;
}


.videocard {
    display: flex;
    align-items: start;
    height: 8rem;
    margin-top: 1rem;
    opacity: 0;
    & > a {
        text-decoration: none;
        height: 100%;
        & img {
            height: 100%;
        }
    }
}

.videocard_visible{
    opacity: 1;
}

.videoinfoblock {
    padding-left: 1rem;
    padding-top: 1rem;
    background: linear-gradient(to right, hsla(0, 0%, 0%, 15%), hsla(0, 0%, 0%, 0%));
    align-self: stretch;
    flex-grow: 1;

    & h2 {
        font-size: 1.2rem;
        color:black;
        text-decoration: underline;
    }

    & p {
        font-weight: bold;
        margin-top: 0.5rem;
    }
}

.videolist_button {
    width: 100%;
    height: 3rem;
    margin-top:1rem;
}

.inputform input[type="text"] {
    padding-left: 1rem;
    border:1px solid transparent;
    outline:none;
    background-color: rgb(222, 222, 222);
    &:active {
        border:none;
        border: 1px solid black;
    }
    &:focus {
        border:none;
        border: 1px solid black;
    }
}

.inputform input[type="checkbox"] {
    margin: 0px;
    width: 1rem;
    height: 1rem;
}

.inputform label {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.inputform_col {
    display:flex;
    flex-direction: column;
    
    &:not(:first-child) {
        margin-top: 1rem;
    }
}

.inputform_row {
    display: flex;
    flex-direction: row;
    gap:1rem;
    min-height: 3rem;
    justify-items: stretch;
    & > * {
        flex-grow: 1;
    }
}

